.main-bar {
    width: calc(100% - 300px - 24px);
    float: left;
    margin: 25px 0px;
    padding: 0;
}

.main-bar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-bar-header h1 {
    font-weight: 400;
}

.main-bar-header .ask-btn {
    padding: 10px 15px;
    border-radius: 4px;
    background-color: #009dff;
    color: white;
    border: none;
    text-decoration: none;
    transition: 0.4s;
    cursor: pointer;
}

.main-bar-header .ask-btn:hover {
    background-color: #0086d8;
}

.display-question-container {
    min-height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fdf7e2;
    border-bottom: 1px solid #edeff0;
}

.display-votes-ans {
    padding: 20px;
}

.display-votes-ans p {
    margin: 0%;
    text-align: center;
}

.display-question-details {
    flex-grow: 1;
    padding: 0px 20px;
}

.question-title-link {
    text-decoration: none;
    color: #037ecb;
    transition: 0.3s;
}

.question-title-link:hover {
    color: #009dff;
}

.display-question-details p {
    padding: 4px;
    margin: 0%;
}

.display-tags-time .display-tags {
    display: flex;
    flex-wrap: wrap;
}

.display-tags-time {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.display-tags-time .display-tags p {
    margin: 2px;
    padding: 4px;
    font-size: 13px;
    background-color: #edeff0;
    color: #39739d;
}

.display-time p {
    font-size: 13px;
    margin-right: 5px;
}

.question-search form input {
    width: calc(90% - 24px);
    margin: 0%;
    padding: 8px 10px 8px 32px;
    font-size: 13px;
    border: 1px solid #0000003e;
    border-radius: 3px;
}

.search-question-icon {
    position: relative;
    top: 6px;
    left: 24px;
}

@media (max-width: 1000px) {
    .main-bar {
        float: none;
        width: calc(100% - 24px);
    }
}

@media (max-width: 650px) {
    .main-bar {
        float: none;
        width: 100%;
    }
}


@media (max-width: 500px) {
    .display-votes-ans {
        padding: 10px;
    }
}

@media (max-width: 455px) {
    .display-votes-ans {
        font-size: 13px;
        padding: 5px;
    }
}

@media (max-width: 420px) {
    .search-question-icon {
        top: 30px;
        left: 9px;
    }
}
@media (max-width: 400px) {
    .main-bar-header .ask-btn {
        padding: 10px 8px;
    }
}

@media (max-width: 380px) {
    .main-bar-header h1 {
        font-size: 25px;
    }
}

@media (max-width: 380px) {
    .main-bar-header h1 {
        font-size: 20px;
    }
}