.user-list-container {
    padding: 3px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
    gap: 30px;
}

.user-profile-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: black;
}

.user-profile-link-img
{
    width: 40px;
    height: 40px;
    border-radius: 48%;
}

.user-profile-link h3 {
    padding: 10px 13px;
    background-color: #d3d3d3;
    border-radius: 50%;
}

.user-profile-link h5 {
    margin: 0px 10px;
}

.users-h1 {
    margin-top: 50px;
    font-weight: 400;
}