
.terms-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border: 5px;
    background-color: #fdf7e2;;
    border: 1px solid #f1e5bc;
}
.terms-heading {
    text-align: center;
    margin-top: 0;
    font-weight: 500;
}

.terms-list li{
    padding: 5px;
    margin: 5px;
}
.terms-email{
    color: rgb(0, 157, 255);;
    text-decoration: none;
}